.idea/*
.nano/*
.phive/*
.composer/*
.churn.cache
.composer/auth.json
.ssh/*
.gnupg/*
.gitconfig
.php_cs.cache
.php-cs-fixer.php.cache
.php-cs-fixer.cache
.phpunit.result.cache
vendor/*

.bash_history
.mysql_history

src/Generated/*

.cache/*
.config/*
.local/*
.selected_editor
*.swp
.~lock*
stantmp/*

phpstan.neon.dist

composer.lock
