.idea/*
.nano/*
.phive/*
.composer/*
.churn.cache
!.composer/auth.json
.ssh/*
.gnupg/*
.gitconfig
.php_cs.cache
.php-cs-fixer.php.cache
.php-cs-fixer.cache
.phpunit.result.cache
phpDocumentor.phar
autoload/GCWorld/ORM/Generated/*
private/*
twig/cache/*
vendor/*
public_html/.temp/*
public_html/.cache/*
public_html/courses/*
public_html/assets/temp_*
public_html/assets/temp.css
public_html/phpdocs/*
public_html/sami-docs/*
tools/*
config/config.ini
config/config.yml
config/config.php
config/GCWorld_ORM.php
config/schema_compiler.ini

supervisor/generated/*
gearman/*
!gearman/.gitkeep

.bash_history
.mysql_history

src/Generated/*

.cache/*
.config/*
.local/*
.selected_editor
*.swp
.~lock*
stantmp/*

phpstan.neon.dist

submodules/
