parameters:
	level: 6
	paths:
		- src
		- tests

	reportUnmatchedIgnoredErrors: false

	parallel:
		processTimeout: 3000.0
		maximumNumberOfProcesses: 1

	tipsOfTheDay: false

	ignoreErrors:
		-
			identifier: new.static
			path: src/Core/SharedContainer.php
