parameters:
	reportUnmatchedIgnoredErrors: false
	tmpDir: stantmp
	excludePaths:
		- %rootDir%/../../../src/Generated/*
		- %rootDir%/../../../src/Composer.php
		- %rootDir%/../../../src/CronJobs/PendingApplicationDigestCron.php

	ignoreErrors:
		- '#Access to an undefined property DOMElement*#'
		- '#Empty array passed to foreach#'
		- '#Function d invoked with*#'
		- '#Call to static.*Uuid::fromBytes.*#'
		- '#.*in empty\(\) always exists and is not falsy.*#'
		- '#Call to an undefined method Clue\\React\\Redis\\Client.*#'
		- '#.*callback of function call_user_func.*#'

	parallel:
		processTimeout: 3000.0
		maximumNumberOfProcesses: 4

	tipsOfTheDay: false

	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon