includes:
	- phpstan.neon.dist
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
	reportUnmatchedIgnoredErrors: false
	excludePaths:
		- %rootDir%/../../../src/Generated/*
		- %rootDir%/../../../src/Composer.php
		- %rootDir%/../../../src/CronJobs/PendingApplicationDigestCron.php

	ignoreErrors:
		- '#Function d invoked with*#'

	parallel:
		processTimeout: 3000.0
		maximumNumberOfProcesses: 1

	tipsOfTheDay: false

	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	treatPhpDocTypesAsCertain: false
