parameters:
	reportUnmatchedIgnoredErrors: false
	tmpDir: stantmp
	excludePaths:
		- %rootDir%/../../../src/Generated/*
		- %rootDir%/../../../src/Composer.php
		- %rootDir%/../../../src/CronJobs/PendingApplicationDigestCron.php

	ignoreErrors:
		- '#Function d invoked with*#'

	parallel:
		processTimeout: 3000.0
		maximumNumberOfProcesses: 4

	tipsOfTheDay: false

	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon